<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button mat-fab color="primary" routerLink="/">Link</button>

    <div class="main-menu">
      <a mat-button routerLink="/categories">categories</a>
      <a mat-button routerLink="/cards/1">cards</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="test-links">
  <a mat-button *ngFor="let link of linkGroup;"
     routerLink="/categories"
     [fragment]="link"
     routerLinkActive="active">categories Page ({{link}})</a>
</div>
<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>



